/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;

  grid-template-columns:minmax(200px,1fr) 1fr 1fr;
     grid-template-columns: repeat(auto-fit, minmax(100px,auto ));
     grid-template-rows: 50% 25% 100px;
   row-gap: 40px;
     column-gap: 20px; 
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(500px, auto);
}

.space {
  color: white;
  font-size: 30px;

}

.one {
  background-color: aqua;
}

.two {
  background-color: blue;
  grid-row: 1/4;
}

.three {
  background-color: brown;
  grid-column: 2/4;
}

.for {
  background-color: chartreuse;
}

.five {
  background-color: crimson;
}
.six {
  background-color: darkcyan;
}

.seven {
  background-color: orangered;
}

.eight {
  background-color: fuchsia;
}

.nine {
  background-color: green;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
    "header header header"
    "nav main aside "
    "footer footer footer";

    justify-content: space-around;
}



.space {
  color: white;
  font-size: 30px;
  text-align: center;
}

header {
  background-color: darkgrey;
  /* grid-column: 1/4; */
  grid-area: header;
}

main {
  background-color: green;
  /* grid-column: 2/3; */
  grid-area: main;

}

aside {
  background-color: brown;
  grid-area: aside;

}

footer {
  background-color: chocolate;
  /* grid-column: 1/4; */
  grid-area: footer;
}

nav {
  background-color: indigo;
  /* grid-row: 2/3; */
  grid-area: nav;
}
